*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(12, 12, 32);
}

nav{
    height: 100px;
}

#logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
}

#logo img{
    margin-top: 10px;
    width: 70px;
}

#logo p{
    font-size: 15px;
    font-weight: 400;
}

.navbar-nav{
    width: 40%;
}

nav form{
    width: 40%;
    margin: 0px 50px;
}

main{
    min-height: 80vh;
}

main h1{
    text-align: center;
    color: antiquewhite;
}

.card{
    width: 18rem;
    height: 430px;
    margin: 10px;

}

.card-body{
    height: 50px;
    width: 18rem;

}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.precio{
    padding-left: 80px;
}

.detalle{
    padding-left: 5px;
}

#detalleProd{
    width: 80%;
    height: 16rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 20px;
    padding-left: 5px;
}

